<h1>List of photos</h1>

<%# if session.fetch(:user_id).present? %>

<form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">

  <label for="images"> Image </label>
  <input id="images" type="file" name="images" class="form-control">

  <label for="query_caption"> Caption </label>
  <textarea id="query_caption" name="input_caption" rows="3" placeholder="Enter a caption for the photo..."> </textarea>

  <button> Add photo </button>

</form>

<%# end %>

<hr>

<table border="1">
  <tr>
    <th><label> Image </label></th>
    <th><label> Caption </label></th>
    <th><label> Owner </label></th>
    <th><label> Posted </label></th>
    <th><label> Likes </label></th>
    <th><label></label></th>
  </tr>

  <% @photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= time_ago_in_words(photo.created_at) %> ago
    </td>

    <td>
      <%= photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  
  <% end %>
</table>
